header {
  height: 200px;
 /* background-color: yellowgreen;*/
 /* border-color: yellow;
  border-width: 10px;
  border-style: double;*/

}

body {
  background-color: lightblue;
}




h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 90px;
  margin: 0, auto;

  }